project/project/target/*/*
target/*/*
project/target/*/*


target/
bin/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project

logs/*
build/*

*.class
*.lock
*.DS_Store
.cache
/.lib/
log/*
tmp/*
